* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Vazirmatn';
    src: url('fonts/Vazirmatn-Regular.woff2') format('woff2');
    font-weight: normal;
}

@font-face {
    font-family: 'Vazirmatn';
    src: url('fonts/Vazirmatn-Bold.woff2') format('woff2');
    font-weight: bold;
}

body {
    font-family: Vazirmatn;
}

h1,
h3,
form,
#messages,
footer {
    text-align: center;
}

main {
    margin-bottom: 300px;
}

.philosophy {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.FAQ {
    margin: 100px 10%;
}

p {
    margin: 10px;
    max-width: 500px;
}

#messages {
    font-weight: bold;
    margin: 20px 10px;
}

.error {
    color: red;
}

.success {
    color: green;
}



/* colors

dark green #175454
middle  green #1E6430
light  green #6ABE45
button  green #158263
search  grey #D9D9D9
light  grey #EFEFEF


*/